{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html>
<head>
  <title>
    {% block head_title %}Champions of Regnum Mag Map{% endblock %}
  </title>

  {% block pre_head %}{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="News Notification System">
  <meta name="author" content="Alex Mavrogiannis">
  <meta name="author" content="Greg Liras">

  <!-- Styles -->
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">

  <!-- fav and touch icons -->
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">

  {% block extra_head %}
  {% endblock %}
</head>

<body>
    <img src="/media/map.png" alt="Imba Mag Map" width="1800"></a>
    <!-- Footer
    ================================================== -->
    <br><br><br>
    <div class="span8 offset2 footer" style="text-align: center">
      <p><small>May the farm be with you</small></p>
    </footer>
</body>
</html>
